*{
    padding: 0;
    box-sizing: border-box;
}
#nextShape {
    position: absolute;
    border: 1px solid purple;
    width: 200px;
    height: 200px;
    left: 420px;
}

#canvas1{
    position: absolute;
    border: 1px solid red;
    background-color: rgb(8, 0, 0);
    /* transform: translate(-50%, -50%); */
    width: 400px;
    height: 600px;
}
body{
    background-color: black;
}